<template>
    <div class="container mt-5 text-center">
        <h1>Visualizer</h1>
        <AudioControls />
        <AudioVisualizer />
    </div>
</template>

<script>
import AudioVisualizer from './components/AudioVisualizer.vue'
import AudioControls from './components/AudioControls.vue'

export default {
    name: 'App',
    components: {AudioControls, AudioVisualizer}
}
</script>

<style lang="scss" scoped>
</style>
