<template>
<div></div>
    <!-- <div class="visualizer border border-dark m-auto rounded mt-3"></div> -->
</template>

<script>
export default {
        name: 'AudioVisualizer',
        mounted() {

        }
}
</script>

<style lang="scss" scoped>
.visualizer {
    width: 400px;
    height: 400px;
}
</style>
