<template>
    <div>
        <button class="btn btn-primary mt-2" v-on:click="start()" id="button">start</button>
        <audio controls hidden><source src="/music.mp3"></audio>
    </div>
    <canvas class="visualizer border border-dark m-auto rounded mt-3" id="visualizer"></canvas>
</template>

<script>
export default {
        name: 'AudioControls',
        data() {
            return {
                audioSource: {},
                analyser: {},
                bufferLength: {},
                canvas: {},
                ctx: {},
                dataArray: [],
                barWidth: 0,
                barHeight: 0,
                x: 0,
            }
        },
        mounted() {
            this.audio = document.querySelector('audio')
            this.canvas = document.querySelector('canvas')
            this.ctx = this.canvas.getContext('2d')
            this.canvas.width = this.canvas.clientWidth;
            this.canvas.height = this.canvas.clientHeight;
            this.button = document.querySelector('#button')
        },
        methods: {
            initPlayer() {
                this.audioCtx = new(window.AudioContext || window.webkitAudioContext)()
                this.audioSource = this.audioCtx.createMediaElementSource(this.audio)
                this.analyser = this.audioCtx.createAnalyser()
                this.audioSource.connect(this.analyser)
                this.analyser.connect(this.audioCtx.destination)
                this.analyser.fftSize = 256
                this.bufferLength = this.analyser.frequencyBinCount
                this.dataArray = new Uint8Array(this.bufferLength)
                this.barWidth = 5
            },
            start() {
                this.initPlayer()
                this.animate()
                this.button.hidden = "hidden"
                this.audio.hidden = ""
                this.audio.play()
            },
            animate() {
                this.x = 0
                this.ctx.clearRect(0,0, this.canvas.width, this.canvas.height)
                this.analyser.getByteFrequencyData(this.dataArray)
                for (let i = 0; i < this.bufferLength; i++) {
                    this.barHeight = this.dataArray[i]
                    let hue = i * 20
                    this.ctx.fillStyle = 'hsl('+hue+',100%, 50%)'
                    this.ctx.fillRect(this.x, this.canvas.height - this.barHeight, this.barWidth, this.barHeight)
                    this.x += this.barWidth + 4
                }
                requestAnimationFrame(this.animate)
            }
        }
}
</script>

<style lang="scss" scoped>
.visualizer {
    width: 400px;
    height: 400px;
}
</style>
